.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #8b8e3e;
}